@font-face {
  font-family: 'montserratblack';
  src: url('./montserrat-black/Montserrat-Black.woff') format('woff'),
    url('./montserrat-black/Montserrat-Black.eot') format('eot'),
    url('./montserrat-black/Montserrat-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
